.header {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0d1117;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  list-style: none;

  li {
    margin-right: 10px;

    &::first-letter {
      text-transform: capitalize;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__item {
    text-decoration: none;
    color: inherit;
    list-style-type: none;
  }
}
